<html>
<body>
    <h1>Carteira De {{category.name}}</h1>
    
    {% for item in items %}
    <div>
        <a href='{{url_for('showRentability', category_id = category.id, item_id = item.id) }}'>Show</a>
        <p>{{item.name}}</p>
        <p>{{item.active}}</p>
        <p>{{item.dy}}</p>
        <p>{{item.price}}</p>
        <p>{{item.description}}</p>
        <a href='{{url_for('editItem', category_id = category.id, item_id = item.id) }}'>Edit</a>
        </br>
        <a href='{{url_for('deleteItem', category_id = category.id, item_id = item.id) }}'>Delete</a>
    </div>
    {% endfor %}
    <a href='{{url_for('newItem', category_id = category.id) }}'>New Item</a>
    <a href="{{url_for('showCategories')}}">Go Back To Your Wallets</a>
</body>
</html>