<html>

<body>
    <h1>New Rentability?</h1>
    <form method='POST'>
        <p>Month:</p>
        <input type="text" size='30' name='month' placeholder="Mar"> 
        <p>Money:</p>
        <input type="number" step='0.01' min="0" name='money' placeholder="1.99"> 
        <p>Percent:</p>
        <input type="number" step='0.1' min="0" name='percent' placeholder="1.7"> 

        <input type='submit' value='Create'>
    </form>
    <a href='{{url_for('showRentability', category_id=category_id, item_id=item_id)}}'>Cancel</a>
</body>

</html>